body {
    margin: 0;
    @include ralewayRegular();
    color: $darkGray;
    font-size: 16px;
    line-height: 22px;
}

main {
    overflow-x: hidden;
}

p {
    @include ralewayRegular();
    color: $darkGray;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 20px 0;
}

i {
    @include ralewayItalic(); 
}

b, strong {
    @include ralewayBold();
    i {
        @include ralewayBoldItalic();
    }
}

h1 {
    @include ralewayRegular();
    color: $green;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 26px 0;
    text-transform: uppercase;
}

h2 {
    @include ralewaySemiBold();
    color: $blue;
    font-size: 35px;
    line-height: 41px;
    margin: 0 0 25px 0;
    position: relative;
    padding-bottom: 20px;
    &:after {
        content: "";
        height: 3px;
        width: 173px;
        background: $blue;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.primary-btn {
    @include ralewayRegular();
    font-size: 14px;
    line-height: 14px;
    min-width: 136px;
    padding: 13px 30px;
    border-radius: 3px;
    background: $blue;
    color: $white;
    text-align: center;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-color: $blue;
    position: relative;
    text-decoration: none;
    z-index: 9;
    &:hover {
        background-color: $white;
        color: $blue;
        &:before {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 99%;
        height: 100%;
        border: 2px solid $blue;
        border-radius: 4px;
        opacity: 0;
        -webkit-transform: scale3d(0.6, 0.6, 1);
        transform: scale3d(0.6, 0.6, 1);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
}

.container {
    @include media-xs {
        max-width: 100%;
    }
}

.row {
    &.center-row {
        justify-content: center;
    }
}

.small-spacing {
    margin-bottom: 50px;
}

.medium-spacing {
    margin-bottom: 100px;
    @include media-xs {
        margin-bottom: 50px;
    }
}

.large-spacing {
    margin-bottom: 150px;
    @include media-sm {
        margin-bottom: 100px;
    }
    @include media-xs {
        margin-bottom: 50px;
    }
}

.extra-large-spacing {
    margin-bottom: 250px;
    @include media-md {
        margin-bottom: 150px;
    }
    @include media-sm {
        margin-bottom: 100px;
    }
    @include media-xs {
        margin-bottom: 50px;
    }
}