
.homepage-case-study-container {  
    position: relative;
    .img-container {
        height: 330px;
        width: 93%;
        position: absolute;
        top: 0;
        left: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include media-xs {
            width: calc(100vw - 30px);
        }
        @include media-xs-portrait {
            height: 30vh;
        }
        @include media-xs-landscape {
            height: 80vh;
        }
    }
    .homepage-case-study-content {
        margin-top: 45px;
        margin-left: 53px;
        padding:  47px 37px 51px 37px;
        text-align: left;
        position: relative;
        @include media-sm {
            margin-top: 25px;
            margin-left: 23px;
            padding:  27px 27px 31px 27px; 
        }
        @include media-xs-landscape {
            margin-top: 25px;
            margin-left: 23px;
            padding:  27px 27px 31px 27px; 
        }
        @include media-xs-portrait {
            margin-left: 0;
            padding: 27px;
            margin-top: 25px;
        }
        &:before {
            content: "";
            background: linear-gradient(#092954 0%, #024d7f 100%);
            opacity: 0.78;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        span {
            display: block;
            text-transform: uppercase;
            color: $white;
            @include ralewaySemiBold();
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
            position: relative;
        }
        h2 {
            color: $white;
            font-size: 40px;
            line-height: 57px;
            text-align: left;
            margin-bottom: 25px;
            @include media-xs-portrait {
                font-size: 32px;
                line-height: 42px;
            }
        }
        p {
            color: $white;
            position: relative;
            margin-bottom: 40px;
        }
        .primary-btn {
            min-width: 162px;
            display: inline-block;
        }
    }
    .num-counter-container {
        background: $white;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
        padding: 58px 40px 60px 40px;
        width: 903px;
        margin: -20px auto 0 auto;
        position: relative;
        font-size: 0;
        @include media-sm {
            padding: 38px 10px 30px 10px;
            width: 90%;
        }
        @include media-xs-portrait {
            width: calc(100% - 30px);
        }
        @include media-xs-landscape {
            padding: 38px 10px 30px 10px;
            width: 90%;
        }
        .num-counter-item {
            text-align: center;
            display: inline-block;
            width: 33%;
            vertical-align: top;
            @include media-xs-portrait {
                width: 100%;
                display: block;
                margin-bottom: 30px;
            }
            &:last-child {
                @include media-xs-portrait {
                    margin-bottom: 0;
                }
            }
            span {
                display: block;
                @include ralewaySemiBold();
                &.num {
                    color: $blue;
                    font-size: 40px;
                    line-height: 58px;
                    margin-bottom: 5px;
                    &:after {
                        content: "%";
                    }
                }
                &.text {
                    text-transform: uppercase;
                    color: $darkGray;
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }
    }
}