body {
    &.nav-fixed {
        header {
            padding: 10px 30px 40px 30px;
            background: #002f53;
            z-index: 990;
            @include media-md {
                padding: 10px 30px 40px 30px;
            }
            @include media-xs {
                padding: 15px 0 38px 0;
            }
            @include media-sm {
                padding: 15px 30px 68px 30px;
            }
            &:after {
                display: none;
            }
            &:before {
                display: none;
            }
        }
        &.menu-open {
            overflow: hidden;  
            footer {
                margin-left: 100%;
                @include media-xs {
                    float: left;
                    overflow: hidden;
                    height: 0;
                }
                @include media-sm {
                    float: left;
                    overflow: hidden;
                    height: 0;
                }
            }
        }
    }
    overflow-x: hidden;
    &.menu-open {  
        overflow: hidden;     
        nav {
            @include media-xs {
                margin-left: -15px;
                width: calc(60% + 15px);
                padding-top: 70px;
            }
            @include media-sm {
                margin-left: -30px;
                width: calc(60% + 30px);
                padding-top: 120px;
            }
        }
        footer {
            margin-left: 100%;
            @include media-xs {
                float: left;
                overflow: hidden;
                height: 0;
            }
            @include media-sm {
                float: left;
                overflow: hidden;
                height: 0;
            }
        }
    }
}
header {
    padding: 50px 30px 20px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 91;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    @include media-xs {
        padding: 15px 0 38px 0;
    }
    @include media-sm {
        padding: 15px 30px 68px 30px;
    }
    @include media-md {
        padding: 30px 30px 20px 30px;
    }
    .container {
        @include media-lg {
            max-width: 1640px;
            margin: 0 auto;
            display: block;
        }
    }
    .nav-icon {
        width: 23px;
        height: 20px;
        position: absolute;
        top: 17px;
        right: 37px;
        transition: all 0ms 300ms;
        @include media-lg {
            display: none;
        }
        @include media-md {
            display: none;
        }
        @include media-sm {
            top: 30px;
        }
        &:before {
            display: block;
            content: "";
            background-image: url("../../../assets/images/icons/open-menu.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 23px;
            height: 20px;
        }
    }
    .logo-container {
        width: 191px;
        height: 53px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include media-xs {
            width: 90px;
            height: 24.6px;
            left: 37px;
            top: 0;
        }
        img {
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
    }
    nav {
        text-align: right;
        position: relative;
        background: none;
        display: block;
        transition: margin-left 1s ease;
        -webkit-transition: margin-left 1s ease;
        top: 20px; 
        width: calc(100% - 180px);
        margin: 0 0 0 auto;
        @include media-xs {
            margin-left: -100%;
            width: 0;
            position: absolute;
            top: -15px;
            left: 0;
            height: 100vh;
            background: #002f53;
            overflow-y: auto;
        }
        @include media-sm {
            margin-left: -100%;
            width: 0;
            position: absolute;
            top: -15px;
            left: 0;
            height: 100vh;
            background: #002f53;
            overflow-y: auto;
        }
        @include media-xs-landscape {
            padding-bottom: 320px;
        }
        > ul {
            padding: 0;
            text-align: right;
            list-style: none;
            width: auto;
            display: block;
            margin-bottom: 0;
            font-size: 0;
            @include media-xs {
                overflow-x: hidden;
                background: #002f53;
                z-index: 9;
                position: relative;
            }
            @include media-sm {
                overflow-x: hidden;
            }
            > li {
                list-style: none;
                display: inline-block;
                margin-bottom: 0;
                background: none;
                cursor: pointer;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                // position: relative;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
                @include media-xs {
                    width: 100%;
                    text-align: left;
                    padding: 0;
                    position: relative;
                    margin-right: 0;
                }
                @include media-sm {
                    width: 100%;
                    text-align: left;
                    padding: 0;
                    position: relative;
                    margin-right: 0;
                }
                &:focus {
                    outline: none;
                    box-shadow: none;                
                }
                a {
                    @include ralewayRegular();
                    color: #dadada;
                    font-size: 14px;
                    line-height: 16px;
                    position: relative;
                    z-index: 9;
                    text-decoration: none;
                    position: relative;
                    -webkit-transition: all .3s ease-in-out 0s;
                    -moz-transition: all .3s ease-in-out 0s;
                    -ms-transition: all .3s ease-in-out 0s;
                    -o-transition: all .3s ease-in-out 0s;
                    transition: all .3s ease-in-out 0s;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        -moz-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        -o-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all .3s ease-in-out 0s;
                        -moz-transition: all .3s ease-in-out 0s;
                        -ms-transition: all .3s ease-in-out 0s;
                        -o-transition: all .3s ease-in-out 0s;
                        transition: all .3s ease-in-out 0s;
                        background: $purple;
                        @include media-xs {
                            display: none;
                        }
                        @include media-sm {
                            display: none;
                        }
                    }
                    @include media-xs {
                        letter-spacing: 0;
                        padding: 6.5px 0 6.5px 52px;
                        display: inline-block;
                        width: calc(100% - 50px);
                    }
                    @include media-sm {
                        padding: 10px 0 10px 30px;
                        display: inline-block;
                        width: calc(100% - 50px);
                    }
                    &:hover {
                        color: $purple;
                        &:after {
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            -moz-transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -o-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                    &:focus {
                        text-decoration: none;
                        outline: none;
                    }
                    &:active {
                        text-decoration: none;
                        outline: none;
                    }
                }
                &.cms {
                    a {
                        color: $purple;
                        @include ralewayBlackItalic();
                    }
                }
                &.active {
                    a {
                        color: $purple;
                        &:after {
                            display: none;
                        }
                    }
                    .mobile-arrow {
                        .white-icon {
                            display: none;
                        }
                        .black-icon {
                            display: block;
                        }
                    }
                }
                &.sub-menu {
                    &:hover {
                        > ul {
                            -webkit-animation-name: showSubMenu;
                            -webkit-animation-duration: .4s;
                            @include media-lg {
                                display: block;
                            }
                            @include media-md {
                                display: block;
                            }
                        }
                    }
                    &.active-hover {
                        > ul {
                            -webkit-animation-name: showSubMenu;
                            -webkit-animation-duration: .4s;
                            display: block;
                        }
                    }
                    &.first-level {
                        .mobile-arrow {
                            img {
                                -webkit-transform: rotate(270deg);
                                -moz-transform: rotate(270deg);
                                transform: rotate(270deg);
                            }
                        }
                        > ul {
                            -webkit-animation-name: showSubMenu;
                            -webkit-animation-duration: .4s;
                            display: block;
                            position: relative;
                        }
                    }
                }
                > ul {
                    position: absolute;
                    display: none;
                    background-color: #002f53;
                    margin: 0;
                    padding: 10px 0 10px 0;
                    
                    li {
                        display: block;
                        padding: 5px 20px;
                        text-align: left;
                        @include media-xs {
                            padding: 0 20px;
                        }
                        a {
                            line-height: 22px;
                            @include  media-xs {
                                width: 100%;
                                padding: 3.5px 0 3.5px 50px;
                            }
                        }
                    }
                }
                .mobile-arrow {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 48px;
                    height: 36px;
                    @include media-lg {
                        display: none;
                    }
                    @include media-md {
                        display: none;
                    }
                    img {
                        width: 11px;
                        height: 11px;
                        object-fit: cover;
                        -webkit-transition: 0.2s linear;
                        -moz-transition: 0.2s linear;
                        transition: 0.2s linear;
                        position: relative;
                        top: 10px;
                        left: 15px;
                    }
                }
            }
        }
    }
}
@-webkit-keyframes showSubMenu {
    0% {
        transform: scale(0,0);
    }
    100% {
        transform: scale(1,1);
    }
}

@-webkit-keyframes hideSubMenu {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(0,0);
    }
}