.info-item {
    text-align: center;
    vertical-align: top;
    margin-bottom: 50px;
    span {
        @include ralewayRegular();
        color: $darkGray;
        font-size: 23px;
        line-height: 23px;
        display: block;
        margin-bottom: 20px;
    }
    p {
        width: 80%;
        margin: 0 auto;    
        @include media-sm {
            width: 90%;
        }
        i {
            b {
                font-style: italic;
            }
        }
    }
    .img-container {
        border-radius: 100%;
        width: 126px;
        height: 126px;
        position: relative;
        display: block;
        margin: 0 auto 24px auto;
        &.blue-bg {
           background-color: $blue; 
        }
        &.green-bg {
            background-color: $green; 
        }
        &.purple-bg {
            background-color: $purple; 
        }
        &.darkGray-bg {
            background-color: $darkGray; 
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.info-item-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    .info-item {
        position: relative;
        z-index: 9;
        text-align: center;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 33%;
        width: auto;
        padding: 0 30px;
        margin-bottom: 70px;
        @include media-xs {
            margin-bottom: 50px;
        }
        @include media-sm {
            margin-bottom: 50px;
        }
        @include media-md {
            margin-bottom: 50px;
        }
        @media (min-width: 1199px) and (max-width: 1440px) {
            padding: 0 15px;
        }
        p {
            width: 70%;
            @media (min-width: 1199px) and (max-width: 1440px) {
                width: 75%;
            }
            @include media-sm {
                width: 100%;
            }
            @include media-md {
                width: 90%;
            }
            @include media-xs-landscape {
                width: 90%;
            }
        }
    }
    &.two-info-item {
        @include media-mlg {
            .info-item {
                flex: 1 1 50%;
                text-align: left;
                margin-bottom: 90px;
                .img-container {
                    display: inline-block;
                    margin-right: 11px;
                    vertical-align: top;
                    margin-bottom: 0;
                }
                .info-item-content {
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    width: calc(100% - 145px);
                    margin-top: 5px;
                    p {
                        text-align: left;
                        width: 100%;
                    }
                    span {
                        text-transform: uppercase;
                        @include ralewaySemiBold();
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
.custom-container {
    .info-item-container {
        .info-item {
            flex: 1 1 0%;
        }
    } 
}
.info-item-intro-container {
    text-align: center;
    margin-bottom: 50px;
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 20px;
        margin-bottom: 8px;
    }
}