.info-item {
    text-align: center;
    vertical-align: top;
    margin-bottom: 50px;
    span {
        @include ralewayRegular();
        color: $darkGray;
        font-size: 23px;
        line-height: 23px;
        display: block;
        margin-bottom: 20px;
    }
    p {
        @include ralewaySemiBoldItalic();
        width: 80%;
        margin: 0 auto;    
        @include media-sm {
            width: 90%;
        }
    }
    .img-container {
        border-radius: 100%;
        width: 126px;
        height: 126px;
        position: relative;
        display: block;
        margin: 0 auto 24px auto;
        &.blue-bg {
           background-color: $blue; 
        }
        &.green-bg {
            background-color: $green; 
        }
        &.purple-bg {
            background-color: $purple; 
        }
        &.darkGray-bg {
            background-color: $darkGray; 
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
    }
}