.why-choose-container {
    margin-bottom: 90px;
    h2 {
        color: $darkGray;
        text-align: center;
        font-size: 40px;
        line-height: 65px;
        margin-bottom: 30px;
        padding-bottom: 0;
        &:after {
            display: none;
        }
        @include media-xs {
            font-size: 32px;
            line-height: 44px;
        }
    }
    .col-12 {
        &:last-child {
            a {
                margin-bottom: 0;
            }
        }
    }
    a {
        background: $white;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
        display: block;
        min-height: 127px;
        padding: 0 30px;
        position: relative;
        text-decoration: none;
        transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
        transition-delay: .1s;
        @include media-md {
            padding: 0 20px;
            min-height: 100px;
        }
        @include media-sm {
            padding: 0 15px;
        }
        @include media-xs-landscape {
            padding: 0 15px;
        }
        @include media-xs-portrait {
            margin-bottom: 30px;
        }
        &:hover {
            transform: translateY(-5px);
            -webkit-box-shadow: 0 2px 2px rgba(45, 45, 45, 0.05), 0 4px 4px rgba(49, 49, 49, 0.05), 0 8px 8px rgba(42, 42, 42, 0.05), 0 16px 16px rgba(32, 32, 32, 0.05), 0 32px 32px rgba(49, 49, 49, 0.05), 0 64px 64px rgba(35, 35, 35, 0.05);
            box-shadow: 0 2px 2px rgba(45, 45, 45, 0.05), 0 4px 4px rgba(49, 49, 49, 0.05), 0 8px 8px rgba(42, 42, 42, 0.05), 0 16px 16px rgba(32, 32, 32, 0.05), 0 32px 32px rgba(49, 49, 49, 0.05), 0 64px 64px rgba(35, 35, 35, 0.05);
            span {
                border-bottom: 1px solid #717171;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                transition: all .5s;
                @include media-sm {
                    border-bottom: none;
                }
                @include media-xs {
                    border-bottom: none;
                }
            }
        }
        .why-choose-item {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            @include media-sm {
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
            @include media-xs-landscape {
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
        .img-container {
            display: inline-block;
            margin-right: 12px;
            vertical-align: middle;
            @include media-md {
                width: 20%;
                margin-right: 10px;
            }
            @include media-sm {
                width: 20%;
                display: block;
                margin: 0  auto;
            }
            @include media-xs-landscape {
                width: 20%;
                display: block;
                margin: 0  auto;
            }
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .why-choose-content {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 120px);
            @include media-md {
                width: calc(100% - 90px);
            }
            @include media-sm {
                width: calc(100% - 30px);
                display: block;
                margin: 0 auto;
                text-align: center;
            }
            @include media-xs-portrait {
                width: calc(100% - 145px);
            }
            @include media-xs-landscape {
                width: calc(100% - 30px);
                display: block;
                margin: 0 auto;
                text-align: center;
            }
        }
        span {
            @include ralewayRegular();
            font-size: 16px;
            line-height: 22px;
            color: #717171;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
            border-bottom: 1px solid transparent;
            @include media-md {
                font-size: 14px;
                line-height: 20px;
            }
            @include media-sm {
                font-size: 14px;
                line-height: 20px;
                display: block;
            }
            @include media-xs {
                font-size: 14px;
                line-height: 20px;
            }
            b {
                @include ralewayBoldItalic();
            }
        }
    }
}

.service-steps-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    @include media-xs {
        overflow: hidden;
    }
    .slick-track {
        @include media-xs {
            display: flex !important;
            overflow: hidden;
        }
    }
    .slick-slide {
        @include media-xs-landscape {
            margin: 0 15px;
        }
    }
    .slick-list {
        @include media-xs-landscape {
            margin: 0 -15px;
        }
    }
    &.more-rows {
        .steps-item {
            @include media-lg {
                flex: 1 1 17%;
            }
            &:nth-child(5n) {
                @include media-sm {
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        } 
    }
    .steps-item {
        background-color: $white;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
        text-align: center;
        padding: 65px 30px 38px 30px;
        text-decoration: none;
        display: block;
        position: relative;
        z-index: 9;
        text-align: center;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 0%;
        width: auto;
        margin-right: 30px;
        margin-bottom: 30px;
        &:focus {
            outline: none;
        }
        &:last-child {
            margin-right: 0;
        }
        &:nth-child(5n) {
            margin-right: 0;
        }
        @include media-md {
            flex: 1 1 calc(33% - 30px);
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(5n) {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        @include media-sm {
            flex: 1 1 calc(50% - 15px);
            &:nth-child(even) {
                margin-right: 0;
            }
        }
        @include media-xs {
            margin-right: 0;
            height: auto;
        }
        span {
            @include ralewaySemiBold();
            color: $darkGray;
            font-size: 23px;
            line-height: 26px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
        }
        .img-container {
            margin-bottom: 30px;
            img {
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        }
        p {
            width: 89%;
            margin: 0 auto;
            @media (min-width: 1199px) and (max-width: 1440px) {
                width: 100%;
            }
            @include media-md {
                width: 100%;
            }
            @include media-sm {
                width: 100%;
            }
        }
    }
}

.custom-table {
    border-spacing: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: -15px;
    margin-bottom: -30px;
    @include media-xs {
        border-collapse: collapse;
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    td,
    th {
        height:100%;
        text-align: center;
        @include ralewayRegular();
        color: $darkGray;
        font-size: 18px;
        line-height: 23px;
        padding: 26px 42px 22px 43px;
        color: $darkGray;
        background-color: $white;  
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
        &:last-child {
            border-right: none;
        }
        @include media-xs {
            display: block;
            margin-bottom: 15px;
        }
        @include media-sm {
            padding: 26px 20px 22px 20px;
        }
    }
    th {
        background-color: $blue;
        color: $white;
    }
    tr {
        &:last-child {
            td,
            th {
                border-bottom: none;
            }
        }
        @include media-xs {
            margin-bottom: 30px;
            display: block;
        }
    }
}

.full-width-cta-container {
    text-align: center;
    position: relative;
    padding: 90px 0;
    @include media-xs {
        padding: 30px 0;
    }
    @include media-sm {
        padding: 40px 0;
    }
    @include media-md {
        padding: 50px 0;
    }
    .full-width-cta-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
    }
    .full-width-cta-content {
        position: relative;
        z-index: 9;
        .primary-btn {
            display: inline-block;
            &:before {
                width: 100%;
            }
        }
        h2 {
            margin-bottom: 40px;
            font-size: 48px;
            line-height: 65px;
            @include media-md {
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 30px;
            }
            @include media-sm {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 20px;
            }
            @include media-xs {
                font-size: 28px;
                line-height: 38px;
                margin-bottom: 20px;
            }
        }
    }
    &.add-blue-bg {
        background-color: #022E4F;
        .full-width-cta-content {
            h2 {
                color: $white;
            }
            p {
                color: $white;
            }
        }
    }
}

.key-advantages-container {
    .key-advantages-item {
        background-color: $white;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
        padding: 56px 50px 55px 50px;
        text-align: center;
        height: 100%;
        @include media-xs {
            height: auto;
            padding: 10px;
            margin-bottom: 30px;
        }
        @include media-sm {
            padding: 15px;
        }
        @include media-md {
            padding: 30px;
        }
        span {
            color: $darkGray;
            font-size: 16px;
            line-height: 22px;
            @include ralewayBoldItalic;
            display: block;
            margin: 0 auto 20px auto;
        }
        .img-container {
            margin-bottom: 15px;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
    h2 {
        margin-bottom: 40px;
    }
}

.rte-container {
    .img-container {
        text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }
    }
    h2 {
        padding-bottom: 13px;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 25px;
        @include media-xs {
            margin-top: 0;
        }
        &:after {
            content: "";
            height: 3px;
            width: 173px;
            background: $green;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    [class^="col-"] {
        &:first-child {
            @include media-xs {
                margin-bottom: 30px;
            }
        }
    }
}

.custom-pagination {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        li {
            display: inline-block;
            @include ralewaySemiBold();
            color: #717171;
            font-size: 12px;
            line-height: 26px;
            position: relative;
            a {
                text-decoration: none;
                @include ralewaySemiBold();
                color: #717171;
                font-size: 12px;
                line-height: 26px;
                padding: 0 7px;
                position: relative;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                @include media-xs-portrait {
                    padding: 0 5px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -4px;
                    left: 0;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    -moz-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    -o-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background: $blue;
                }
                &:hover {
                    color: $blue;
                    &:after { 
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        -moz-transform: scaleX(1);
                        -ms-transform: scaleX(1);
                        -o-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
            &.active {
                a {
                    color: $blue;
                    &:after { 
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        -moz-transform: scaleX(1);
                        -ms-transform: scaleX(1);
                        -o-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.our-advantages-item {
    background: $white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 63px 20px 55px 20px;
    height: 100%;
    @include media-xs {
        height: auto;
        margin-bottom: 30px;
    }
    .img-container {
        margin-bottom: 20px;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    span {
        display: block;
        margin: 0 auto 30px auto;
        color: #717171;
        @include ralewayBoldItalic();
        font-size: 18px;
        line-height: 22px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            color: #717171;
            @include ralewayRegular();
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.full-width-hiring-process {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}